
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <title>Index</title>
</head>
<body>
    <table>
        <tr>
            <td>编号</td>
            <td>姓名</td>
            <td>年龄</td>
            <td>身高</td>
        </tr>
        <tbody id="tb"></tbody>
    </table>
</body>
</html>
<script>
    $(function () {
        $.ajax({
            url: 'http://localhost:59152/api/GetStudent',
            type: 'get',
            contentType:'/application/json',
            success: function (d) {
                $(d).each(function () {
                    var str = "<tr>" +
                        "<td>" + this.sId + "</td>" +
                        "<td>" + this.sName + "</td>" +
                        "<td>" + this.sAge + "</td>" +
                        "<td>" + this.sShengao + "</td>" +
                        "</tr >";
                    $("#tb").append(str);
                })
            }
        })
    })
</script>
